*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#b80d0d;
color:white;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
}

/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px;
}

.hero-text h1{
font-size:48px;
margin-bottom:10px;
}

.buttons{
margin-top:20px;
}

.primary{
background:white;
color:red;
padding:12px 25px;
border:none;
border-radius:20px;
}

.secondary{
background:transparent;
color:white;
border:1px solid white;
padding:12px 25px;
border-radius:20px;
}

/* STATS */

.stats{
display:flex;
justify-content:space-around;
background:#f4efe9;
color:black;
padding:40px;
}

.stat{
text-align:center;
}

/* PRODUCTS */

.products{
padding:80px;
text-align:center;
}

.product-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
margin-top:40px;
}

.card{
background:white;
color:black;
padding:20px;
border-radius:15px;
}

.card img{
width:100%;
border-radius:10px;
}

.card button{
margin-top:10px;
padding:10px;
background:red;
color:white;
border:none;
border-radius:10px;
}

/* FOOTER */

footer{
text-align:center;
padding:40px;
background:#9c0c0c;
}